.Home {
  width: 100vw;
  height: 100vh;
  //   background: #000714;
  .Mountains {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100vw;
    height: 100vh;

    .Mountains1 {
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      z-index: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
    .Mountains2 {
      z-index: 1;
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
    .Mountains3 {
      z-index: 2;
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
    .Mountains4 {
      z-index: 3;
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
    .Mountains5 {
      z-index: 4;
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
    .Mountains6 {
      z-index: 5;
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
  }
  .Sky {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: none;
    svg {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
      display: block;
    }
  }
}
