.Home {
  width: 100vw;
  height: 100vh;
  //   background: #000714;
  .Mountains {
    position: absolute;
    bottom: 0;
    .Mountains1 {
      position: absolute;
      bottom: 0;
    }
    .Mountains2 {
      position: absolute;
      bottom: 0;
    }
    .Mountains3 {
      position: absolute;
      bottom: 0;
    }
    .Mountains4 {
      position: absolute;
      bottom: 0;
    }
    .Mountains5 {
      position: absolute;
      bottom: 0;
    }
    .Mountains6 {
      position: absolute;
      bottom: 0;
    }
  }
  .Sky {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
  }
}
