body {
  overflow: hidden;
}
.Home {
  width: 100vw;
  height: 100vh;
  background: #000714;
  overflow: hidden;
  .Hidden {
    display: none !important;
  }
  .Landscape {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
  .Mountains {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    .Mountains1 {
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      z-index: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
    .Mountains2 {
      z-index: 1;
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
    .Mountains3 {
      z-index: 2;
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
    .Mountains4 {
      z-index: 3;
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
    .Mountains5 {
      z-index: 4;
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
    .Mountains6 {
      z-index: 5;
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
    .Grass {
      z-index: 5;
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      svg {
        left: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
  }
  .Sky {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: none;
    svg {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
      display: block;
    }
  }
  .ButtonBox {
    z-index: 7;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #fff;
    .Button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 74px;
      height: 35px;
      border: dashed #fff;
      border-radius: 50px;
      user-select: none;
    }

    .animating {
      animation: borderAnimation 1s linear forwards;
    }
  }
  .Transition {
    animation: transitionAnimation 1s ease-in forwards;
  }
  .StarsBox {
    bottom: 40vh;
    position: absolute;
    height: 100vh;
    width: 100vw;
  }
  .StarsBoxAnimation {
    animation: starsAnimation 1.4s ease-in forwards;
  }
  .SolarSystem {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #fff;
    bottom: 0;
    z-index: 10;
  }
}
@keyframes starsAnimation {
  0% {
    bottom: 100vh;
  }
  15% {
    bottom: 103vh;
  }
  100% {
    bottom: -100vh;
    display: none;
  }
}
@keyframes borderAnimation {
  0% {
    border-color: #fff;
    border-style: dashed;
  }
  25% {
    border-top: dashed #17e3d7;
  }
  50% {
    border-right: dashed #17e3d7;
  }
  75% {
    border-bottom: dashed #17e3d7;
  }
  99% {
    border-left: dashed #17e3d7;
  }
  100% {
    box-shadow: 0 0 10px 5px #fff;
    border-style: solid;
    border-color: #fff;
  }
}
@keyframes transitionAnimation {
  0% {
    bottom: 0;
  }
  15% {
    bottom: 3vh;
  }
  99% {
    bottom: -100vh;
  }
  100% {
    bottom: -100vh;
    display: none;
  }
}
